* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

nav {
    border-bottom: 1px solid black;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.08vw;
}

main {
  margin-top: 2%;
}

a:hover {
  cursor: pointer;
}

h1 {
  text-decoration: underline;
  text-align: center;
  margin: 20px 0;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

ol {
  padding: 20px;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  margin: 0 auto;
  padding: 50px;
  font-size: 1.08vw;
}

button:hover {
  cursor: pointer;
}

form > input,
form > textarea,
form > button {
  padding: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links > li > a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px 10px;
}

.home-link > img {
    width: 8%;
}

.info {
  height: 50%;
  background: url('./images/carmel-beach.webp') no-repeat center center/cover;
  padding: 20px;
  font-size: 1.08vw;
}

.info__content {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}

.info__capital {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 30%;
  font-size: 1vw;
}

.info__capital > a > button {
  padding: 5px 10px;
}

.info > aside {
  width: 50%;
  position: relative;
  left: 50%;
}

.info > aside > ol {
    font-size: larger;
    word-spacing: 1px;
    line-height: 1.5;
}

/* capital page styles */
#city-content {
  font-size: 1.08vw;

}
.city-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
  margin: 0 auto;
}

.city-info > img {
  max-width: 40%;
}

.city-info__history > p {
  font-size: larger;
  word-spacing: 1px;
  line-height: 1.5;
}

.city-info__history {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.city-facts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
  margin: 0 auto;
  padding: 10px;

}

.city-facts > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* cities styles */
.cities {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.city {
  /* border: 1px solid black; */
  color: white;
  border-radius: 4px;
  padding: 10px;
  height: 200px;
  width: 200px;
}

.city > h2 {
  text-shadow: 2px 2px 4px #000000;
}

.la {
  background: url('./images/labg.webp') no-repeat center center/cover;
}

.po {
  background: url('./images/pobg.webp') no-repeat center center/cover;
}

.sf {
  background: url('./images/sfbg.webp') no-repeat center center/cover;
}

.sd {
  background: url('./images/sdbg.webp') no-repeat center center/cover;
}

/* form style */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.08vw;
}

.form-container > img {
  width: 25vw;
}
